%h1
  = t '.title'

= form_tag order_new_password_url do

  .form-group
    = text_field_tag :email, nil, placeholder: t( ".label_email" ), :class => 'form-control'
  .form-actions
    = submit_tag t( 'common.button.send' ), :id => 'send_new_password_button', :class => 'btn btn-primary'
